@import '../../../scss/variables';

.container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	z-index: -1;
	> h2 {
		margin-top: 30px;
		font-size: 32px;
		font-weight: 700;
	}
	.complex {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 50px;
		> img {
			width: 429px;
			height: 410px;
		}
		.description {
			display: flex;
			align-items: center;
			font-size: 24px;
			gap: 100px;
			> p {
				font-weight: bold;
			}
			.naming {
				display: flex;
				flex-direction: column;
				align-items: center;
				> p {
					font-weight: bold;
				}
				> span {
					text-decoration: line-through;
					color: grey;
				}
				> button {
					max-width: 230px;
				}
			}
			.subscription {
				> p {
					font-size: 16px;
					text-align: start;
					margin: 10px 0;
				}
				> h2 {
					font-size: 22px;
				}
				.subImage {
					margin-bottom: 15px;
					position: relative;
					display: flex;
					gap: 150px;
					z-index: -1;
					> .image {
						border-radius: 10px;
						text-align: start;
					}
					> h2 {
						font-size: 24px;
						color: $white;
						position: absolute;
						bottom: 10px;
						left: 12px;
					}
					.subNaming {
						display: flex;
						flex-direction: column;
						align-items: center;
						> p {
							font-weight: bold;
						}
						> span {
							text-decoration: line-through;
							color: grey;
						}
						> a {
							text-decoration: none;
							color: $pink;
							transition: all 0.3s ease-in-out;
							font-weight: bold;
							&:hover {
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.container {
		.complex {
			.description {
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media screen and (max-width: 426px) {
	.container {
		.complex {
			> img {
				width: 318px;
				height: 340px;
			}
			.description {
				gap: 10px;
				.subscription {
					.subImage {
						align-items: center;
						justify-content: center;
						gap: 50px;
						flex-wrap: wrap;
						> h2 {
							bottom: 0px;
							top: 36px;
							left: 10px;
							font-size: 18px;
						}
						> img {
							width: 200px;
							height: 106px;
						}
						.subNaming {
							> p {
								font-size: 18px;
							}
							> span {
								font-size: 18px;
							}
							> a {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 376px) {
	.container {
		.complex {
			> img {
				width: 300px;
				height: 310px;
			}
			.description {
				gap: 10px;
				.subscription {
					> p {
						text-align: center;
					}
					.subImage {
						align-items: center;
						justify-content: center;
						gap: 50px;
						flex-wrap: wrap;
						> h2 {
							bottom: 0px;
							top: 26px;
							left: 22px;
							font-size: 14px;
						}
						> img {
							width: 160px;
							height: 80px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 321px) {
	.container {
		> h2 {
			font-size: 24px;
		}
		.complex {
			> img {
				width: 260px;
				height: 270px;
			}
			> .description {
				> .naming {
					> p {
						font-size: 20px;
					}
					> h2 {
						font-size: 20px;
						margin: 0 auto;
					}
				}
				> .subscription {
					> .subImage {
						gap: 26px;
						> img {
							width: 148px;
						}
						> h2 {
							top: 21px;
							left: 14px;
						}
					}
				}
			}
		}
	}
}
