@import '../../scss/variables';

.cardGroup {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	.card {
		border-radius: 15px;
		-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		width: 400px;
		height: 580px;
		padding: 20px;
		> img {
			border-radius: 50%;
		}
		> h2 {
			font-size: 24px;
			text-align: center;
			margin: 8px;
			font-weight: bold;
		}
		> span {
			font-size: 14px;
			font-weight: bold;
		}

		p {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.cardGroup {
		text-align: center;
		.card {
			> img {
				width: 280px;
				height: 280px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		.cardGroup {
			.card {
				padding: 0px;
			}
		}
	}
}

@media screen and (max-width: 376px) {
	.cardGroup {
		.card {
			width: auto;
			height: auto;
			> img {
				width: 230px;
				height: 230px;
			}
			> h2 {
				font-size: 22px;
			}
			> p {
				font-size: 16px;
			}
		}
	}
}
