@import '../../scss/variables';

.container {
	background-color: $pink;
	padding: 15px;
	text-align: center;
	position: relative;
	z-index: 2;
	> h1 {
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		color: $black;
		> span {
			font-size: 46px;
			color: $white;
			margin-right: 10px;
		}
	}
	.reviews {
		padding: 25px;
		flex-wrap: wrap;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
		z-index: 2;
		.videoReview {
			width: 650px;
			z-index: 2;
		}
		.picReview {
			width: 680px;
			z-index: 2;
			> .carusel {
				.images {
					color: $white;
					> p {
						font-size: 18px;
					}
					.star_date {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 15px;
						> .stars {
							display: inline-flex;
							gap: 4px;
						}
						> span {
							font-size: 16px;
						}
					}
					> h2 {
						margin-bottom: 30px;
					}
				}
			}
			> a {
				color: $white;
				text-decoration: none;
				font-size: 18px;
				&:hover {
					color: $black;
				}
			}
		}
	}
}
button {
	cursor: pointer;
	margin: 15px;
	padding: 20px 35px;
	border: none;
	border-radius: 12px;
	outline: none;
	font-size: 16px;
	font-weight: 700;
	background-color: $pink;
	color: $white;
	border: 1px solid $pink;
	transition: all 0.3s ease-in-out;
	&:hover {
		border: 1px solid $pink;
		background-color: $white;
		color: $pink;
	}
}

@media screen and (max-width: 768px) {
	.container {
		> h1 {
			font-size: 26px;
			> span {
				font-size: 36px;
			}
		}
		.reviews {
			gap: 50px;
			.videoReview,
			.picReview {
				width: 400px;
				height: 400px;
				display: block;
			}
		}
		> button {
			margin: 0 auto 25px;
		}
	}
}

@media screen and (max-width: 683px) {
	.container {
		.reviews {
			.videoReview {
				width: 500px;
			}
		}
	}
}

@media screen and (max-width: 426px) {
	.container {
		> h1 {
			font-size: 22px;
			> span {
				font-size: 28px;
			}
		}
		.reviews {
			gap: 100px;
			.videoReview,
			.picReview {
				width: 300px;
				height: 300px;
			}
		}
	}
}
