@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.arrowBtn {
	position: absolute;
	right: 0;
	bottom: 10%;
	background: #333;
	width: 150px;
	height: 27px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ccc;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: $pink;
	border-radius: 8px;
}
