.container {
	background-color: rgba(34, 34, 34, 0.03);
	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		max-width: 450px;
		> h5 {
			font-size: 32px;
			font-weight: bold;
		}
	}
}
