@import '../../../scss/variables';

.container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	z-index: 0;

	> h2 {
		margin: 30px 0px 40px;
		font-size: 32px;
		font-weight: 700;
	}
	.complex {
		padding: 20px 0px;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 50px;
		.naming {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 50px;
			> .info {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				> p {
					font-size: 22px;
					font-weight: bold;
					> span {
						font-weight: 400;
						font-size: 18px;
					}
				}
				> span {
					text-decoration: line-through;
					color: grey;
				}
				> button {
					max-width: 230px;
				}
			}
			> img {
				width: 429px;
				height: 450px;
			}
		}
		.description {
			display: flex;
			align-items: center;
			font-size: 24px;
			gap: 70px;
			> p {
				font-weight: bold;
			}

			.subscription {
				> p {
					font-size: 16px;
					text-align: start;
					margin: 10px 0;
				}
				> h2 {
					font-size: 22px;
				}
				.subImage {
					margin-bottom: 15px;
					position: relative;
					display: flex;
					gap: 150px;
					z-index: 1;
					> .image {
						border-radius: 10px;
						text-align: start;
					}
					> h2 {
						text-align: start;
						font-size: 22px;
						color: $white;
						position: absolute;
						bottom: 10px;
						left: 12px;
					}
					.subNaming {
						display: flex;
						flex-direction: column;
						align-items: center;
						> p {
							font-size: 22px;
							font-weight: bold;
						}
						> span {
							font-size: 22px;
							text-decoration: line-through;
							color: grey;
						}
						> a {
							font-size: 22px;
							text-decoration: none;
							color: $pink;
							transition: all 0.3s ease-in-out;
							font-weight: bold;
							&:hover {
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 872px) {
	.container {
		.complex {
			.naming {
				justify-content: center;
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.container {
		.complex {
			.naming {
				align-items: center;
				justify-content: center;
			}
			.description {
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media screen and (max-width: 521px) {
	.container {
		.complex {
			.naming {
				justify-content: center;
				> img {
					width: 318px;
					height: 360px;
				}
			}
			.description {
				gap: 10px;
				.subscription {
					.subImage {
						align-items: center;
						justify-content: center;
						gap: 50px;
						flex-wrap: wrap;
						> h2 {
							bottom: 0px;
							top: 20px;
							left: 19px;
							font-size: 18px;
						}
						> img {
							width: 180px;
							height: 86px;
						}
						.subNaming {
							> p {
								font-size: 18px;
							}
							> span {
								font-size: 18px;
							}
							> a {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 376px) {
	.container {
		.complex {
			.naming {
				justify-content: center;
				> img {
					width: 300px;
					height: 330px;
				}
			}
			.description {
				gap: 10px;
				.subscription {
					> p {
						text-align: center;
					}
					.subImage {
						align-items: center;
						justify-content: center;
						gap: 50px;
						flex-wrap: wrap;
						> h2 {
							bottom: 0px;
							top: 26px;
							left: 22px;
							font-size: 14px;
						}
						> img {
							width: 160px;
							height: 80px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 345px) {
	.container {
		.complex {
			.description {
				.subscription {
					.subImage {
						gap: 15px;
						> h2 {
							left: 29px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 321px) {
	.container {
		> h2 {
			font-size: 24px;
		}
		.complex {
			.naming {
				justify-content: center;
				> img {
					width: 260px;
					height: 270px;
				}
				> p {
					font-size: 20px;
				}
				> h2 {
					font-size: 20px;
					margin: 0 auto;
				}
			}
			> .description {
				> .subscription {
					> .subImage {
						gap: 26px;
						> img {
							width: 148px;
						}
						> h2 {
							top: 21px;
							left: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 290px) {
	.container {
		padding: 10px;
		.complex {
			.naming {
				justify-content: center;
			}
		}
	}
}
